# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store

# venv
.venv

# setuptools
dist/
src/*.egg-info/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VSCode
.vscode/

# Symbolication related
app.*.symbols




